@import "../styles/common";

h5 {
  margin-bottom: 30px;
}

.row-publishing-buttons {
  margin-top: 30px;
  margin-bottom: 0;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 150px 200px;
}
