@import "../Styles/common";

.row-checks.git-info {
  display: flex;
  justify-content: space-between;
  margin-top: -30px !important;
  
  & [type="checkbox"]+span:not(.lever) {
    font-size: 0.8rem;
  }

  &:not(.invalid) [type="checkbox"]+span:not(.lever) {
    color: $secondaryTextColor;
  }
}

.git-info__icon {
  font-size: 24px !important;
  padding-right: 12px;
}

.branch-container {
  display: flex;
  margin: -4px 0 0 20px;
  align-items: center;
  min-width: 0;
}

.status-container__status,
.branch-container__branch {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.version-selectors-row {
  margin-top: -10px;
  margin-bottom: 38px;
}

.version-selectors-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  justify-content: left;
  grid-gap: 46px;
}

[type="radio"]+span:before,
[type="radio"]+span:after {
  margin-left: 0;
  margin-right: 0;
}

.row-checks {
  margin-top: -16px !important;
  margin-bottom: 30px !important;
}
.row-checks span {
  cursor: default !important;
}

.row-button {
  margin-top: -20px;
}
