@import "../Styles/common";

.row-checks.commit-state {
  margin-top: -30px !important;
  
  & [type="checkbox"]+span:not(.lever) {
    font-size: 0.8rem;
    color: $secondaryTextColor;
  }
}

.version-selectors-row {
  margin-top: -10px;
  margin-bottom: 38px;
}

.version-selectors-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  justify-content: left;
  grid-gap: 46px;
}

[type="radio"]+span:before,
[type="radio"]+span:after {
  margin-left: 0;
  margin-right: 0;
}

.row-checks {
  margin-top: -16px !important;
  margin-bottom: 30px !important;
}
.row-checks span {
  cursor: default !important;
}

.row-button {
  margin-top: -20px;
}
