@import "../styles/common";

.error {
  color: $errorColor;
}

h5 {
  margin-bottom: 30px;
}

.progress {
  margin-bottom: 30px;
}

.row-error {
  margin-bottom: 10px;
}

.row-buttons {
  margin-top: 30px;
  margin-bottom: 0;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 150px 200px;
}
