.button-container {
  display: grid;
  grid-gap: 40px;
  grid-auto-flow: column;
  justify-content: start;
}

.checkbox-row {
  padding-bottom: 10px;
}

.checkbox-row label {
  color: initial
}

.indent-left {
  padding-left: 36px;
}
