.content-wrapper {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.update-icon-container {
  margin-top: 30px;
}

.update-icon {
  font-size: 150px;
}

.button-container-update {
  margin-top: 40px;
  display: grid;
  grid-gap: 40px;
  justify-content: center;
  grid-auto-columns: 150px;
  grid-auto-flow: column;
}
