@import "../Styles/common";

.row-checks.git-info {
  display: flex;
  justify-content: space-between;
  margin-top: -30px !important;
  
  & [type="checkbox"]+span:not(.lever) {
    font-size: 0.8rem;
  }

  &:not(.invalid) [type="checkbox"]+span:not(.lever) {
    color: $secondaryTextColor;
  }
}

.git-info__icon {
  font-size: 24px !important;
  padding-right: 12px;
}

.status-container {
  order: 1;
  margin-left: 20px;
}

.branch-container {
  display: flex;
  margin-top: -4px;
  align-items: center;
  min-width: 0;
}

.status-container__status,
.branch-container__branch {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.version-selectors-row {
  margin-top: -10px;
  margin-bottom: 38px;
}

.package-selector-container {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  grid-template-columns: 1fr auto;
  align-items: center;

  button { 
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    i {
      margin-right: 8px;
    }
  }
}

.version-selectors-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  justify-content: left;
  grid-gap: 46px;
}

[type="radio"]+span:before,
[type="radio"]+span:after {
  margin-left: 0;
  margin-right: 0;
}

.row-checks {
  margin-top: -16px !important;
  margin-bottom: 30px !important;
}
.row-checks span {
  cursor: default !important;
}
.row-button {
  margin-top: -20px;
} 

.row-button-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  justify-content: space-between;
}

.current-and-latest-versions-container {
  margin-top: -16px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
}

input.blinking{
  font-weight: 600;
  animation: blinking 2s linear infinite;
}
