@import "../styles/common";

.published-packages-options {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  grid-template-columns: 2fr 1fr auto auto;
  align-items: center;

  button { 
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.invalid-version {
  color: $errorColor;
}

.last-updated-info {
  font-size: 12px;
  margin: 0;
  text-align: right;
}

table.published-versions-table {
  td {
    padding: 8px 5px;
  }
}
