@import "../styles/common";

.published-packages-options {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  grid-template-columns: 2fr 1fr auto auto;
  align-items: center;

  button { 
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.invalid-version {
  color: $errorColor;
}

.last-updated-info {
  font-size: 12px;
  margin: 0;
  text-align: right;
}

table.published-versions-table {
  td {
    padding: 6px 5px;

    &.new-version {
      font-weight: 600;
      color: $indigo-darken-2;
    }
  }
}

.badge.blinking-badge {
  animation: blinking-badge 1.5s linear infinite;
}

$firstBlinkingBadgeColor: $indigo-darken-2;
$secondBlinkingBadgeColor: transparent;

@keyframes blinking-badge {
  0% { background-color: $firstBlinkingBadgeColor; }
  50% { background-color: $secondBlinkingBadgeColor; }
  100% { background-color: $firstBlinkingBadgeColor; }
}
