.content-wrapper {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.update-icon-container {
  margin-top: 30px;
}

.update-icon {
  font-size: 150px;
}

.button-container-update {
  margin-top: 26px;
  display: grid;
  grid-gap: 40px;
  justify-content: center;
  grid-auto-flow: column;
}

.release-notes-container {
  margin: 0 auto;
  max-width: 550px;
}

.release-notes {
  margin-top: 8px;
  height: 120px;
  resize: none;
}
