.publish-form-container {
  width: 80%;
  min-width: 400px;
  margin: 0 auto;
}

.publish-form-container form {
  margin-top: 30px;   
}

.version-selectors-row {
  margin-bottom: 38px;
  margin-top: -10px;
}

.version-selectors-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  justify-content: left;
  grid-gap: 26px;
}

.version-inputs-container.grid {
  display: grid;
  margin-top: -14px;
  margin-bottom: 14px;
  grid-column-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.version-inputs-container.grid .row {
  width: 100%;
  margin-bottom: 6px;
}

@media only screen and (min-width: 1200px) {
  .version-inputs-container.grid {
    margin-top: -15px;
    margin-bottom: 15px;
  }
  
  .version-inputs-container.grid .row {
    width: 100%;
    margin-bottom: 5px;
  }
}
