.publish-form-container {
  width: 80%;
  min-width: 400px;
  margin: 0 auto;
}

.publish-form-container form {
  margin-top: 30px;   
}

.version-selectors-row {
  margin-top: -10px;
  margin-bottom: 38px;
}

.version-selectors-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  justify-content: left;
  grid-gap: 26px;
}

.version-inputs-container.grid {
  display: grid;
  margin-top: -14px;
  margin-bottom: 14px;
  grid-column-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}

[type="radio"]+span:before,
[type="radio"]+span:after {
  margin-left: 0;
  margin-right: 0;
}

.version-inputs-container.grid .row {
  width: 100%;
  margin-bottom: 6px;
}

@media only screen and (min-width: 1200px) {
  .version-inputs-container.grid {
    margin-top: -15px;
    margin-bottom: 15px;
  }
  
  .version-inputs-container.grid .row {
    width: 100%;
    margin-bottom: 5px;
  }
}

.row-checks {
  margin-top: -16px !important;
  margin-bottom: 30px !important;
}
.row-checks span {
  cursor: default !important;
}

.invalid [type="checkbox"]+span:not(.lever):before,
.invalid [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  border-color: #F44336 !important
}

.invalid [type="checkbox"]+span:not(.lever),
.invalid [type="checkbox"]:not(.filled-in)+span:not(.lever) {
  color: #F44336;
}

.row-button {
  margin-top: -20px;
}
