.view-container {
  width: 80%;
  min-width: 400px;
  margin: 0 auto;
  padding-bottom: 10px;
}

h4 {
  margin-bottom: 30px;
}

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label {
  color: #1E88E5  !important;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=text].valid,
.input-field input[type=password]:focus,
.input-field input[type=password].valid {
  border-bottom-color: #1E88E5 !important;
  box-shadow: 0 1px 0 0 #1E88E5 !important;
}
/* invalid color */
.input-field.invalid input[type=text],
.input-field.invalid input[type=password] {
  border-bottom-color: #F44336 !important;
  box-shadow: 0 1px 0 0 #F44336 !important;
}
.helper-text.invalid {
  color: #F44336 !important;
}
/* valid color */
.input-field.valid input[type=text],
.input-field.valid input[type=password] {
  border-bottom-color: #4CAF50 !important;
  box-shadow: 0 1px 0 0 #4CAF50 !important;
}

/* selector option */
.dropdown-content li>a,.dropdown-content li>span {
  color: #1E88E5;
}

/* radio buttons */
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
  border-color: #1E88E5 !important;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
  background-color: #1E88E5;
}

.invalid [type="checkbox"]+span:not(.lever):before,
.invalid [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  border-color: #F44336 !important
}

.invalid [type="checkbox"]+span:not(.lever),
.invalid [type="checkbox"]:not(.filled-in)+span:not(.lever) {
  color: #F44336;
}
.progress {
  background-color: #87c8f5;
}
.progress .indeterminate {
  background-color: #1E88E5;
}
